@media screen and (min-width: 800px) {  
  .center-content {
    width: 800px;
    margin: 0 auto;
  }
}

.track-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.album-image {
  width: 20%;
  height: auto;
  margin-bottom: 10px;
}

.track-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-button {
  margin-top: 10px;
}
