<div *ngIf="userProfile" class="center-dashboard">
  <p-panel>
    <ng-template pTemplate="header">
      <span class="font-bold">User Profile</span>

    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <div class="flex align-items-center gap-2">
          <p-button icon="pi pi-user" rounded="true" text="true"></p-button>
          <p-button icon="pi pi-bookmark" severity="secondary" rounded="true" text="true"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="icons">
    </ng-template>
    <div class="flex align-items-center gap-2">
      <div *ngIf="userProfile.images && userProfile.images.length > 0">

        <p-avatar [image]="userProfile.images[0].url" shape="circle" size="xlarge"></p-avatar>

      </div>

      <p *ngIf="!userProfile.images || userProfile.images.length === 0">(no profile image)</p>
      <p>Name: {{ userProfile.display_name }}</p>
      <p>Email: {{ userProfile.email }}</p>
    </div>
    <p class="m-0">

      <p-button rounded="true" text="true" [routerLink]='saved'>Your Saved Tracks</p-button>
      <!-- <p-button rounded="true" text="true"></p-button> -->
    </p>

  </p-panel>
</div>

<div *ngIf="!userProfile" class="center-dashboard">
  <p-panel>
    <p>User not logged in</p>
  </p-panel>

</div>
